body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    /* Phone */
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}

@media screen and (min-width: 768px) {
    /* Tablet */
    .container {
        max-width: 736px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        /* Desktop */
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

img {
    display: block;
}

/* reset styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
    flex-grow: 1;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 40px;   
}

@media only screen and (max-width: 767.98px) {
   .header-navigation,
   .header-address {
    display: none;
  }
}

.address-list {
    display: flex;
    gap: 40px;   
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

@media only screen and (max-width: 767.98px) {
   .logo {
        padding-top: 17.5;
        padding-bottom: 17.5;
  }
}

.logo-header {
    color: #2E2F42;
}

.logo-footer {
    color: #F4F4FD;
}

.header-link {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.header-link.active {
    color: #404bbf;
}

.header-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    bottom: -1px;
}

.header-address {
    font-style: normal;
}

@media only screen and (max-width: 1157.98px) {
   .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  .address-link-container {
    height: 14px;
  }

  .logo {
    margin-right: 120px;
  }
}

.address-link {
    color: #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* hero */

.hero {
    background-color: #2E2F42;
    color: #FFF;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/Dark-bg_mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/Dark-bg_mob@2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/Dark-bg_tab@1x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/Dark-bg_desc@1x.jpg);
    }
  }

  @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/Dark-bg_tab@2x.jpg);
    }
  }
  
  @media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
      .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/Dark-bg_desc@2x.jpg);
      }
    }

.hero-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-align: center;
}

.hero-btn {
    background-color:#4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 500;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

@media only screen and (max-width: 767.98px) {
    .hero-title {
        max-width: 288px;
        text-transform: capitalize;
  }
}

@media screen and (min-width: 768px) {
    /* Tablet */
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
        width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    /* Desktop */
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }

    .hero-title {
        font-size: 56px;
        margin-bottom: 48px;
    }
}

/* values */

.values {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.values-cards {
    display: flex;
    gap: 72px 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.values-item {
    width: 264px;
}

.values-icon-container {
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    padding: 24px 100px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    display: none;
    visibility: hidden;
}

.values-name {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    margin-bottom: 8px;
    text-align: center;
}

.values-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.09;
    width: 288px;
}

@media screen and (min-width: 768px) {
    .values-cards {
        gap: 72px 24px;
    }

    .values-item {
        width: calc((100% - 24px * 1) / 2);
    }

    .values-name {
        text-align: left;
    }

    .values-text {
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .values {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .values-icon-container {
        display: flex;
        visibility: visible;
    }

    .values-text {
        font-weight: 400;
        width: 264px;
    }

    .values-name {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .values-item {
        width: calc((100% - 24px * 3) / 4);
    }
}

/* our team */

.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F4F4FD;
    text-align: center;
    
}

@media screen and (min-width: 1158px) {
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        gap: 24px;
    }
}

.team-card {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    width: 264px;
}

@media screen and (min-width: 768px) {
    .team-card {
        width: calc((100% - 24px * 1) / 2);
        width: 264px;
        
    }
}

@media screen and (min-width: 1158px) {
    .team-card {
        width: calc((100% - 24px * 3) / 4);
       
    }
}

.team-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-description {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    padding: 32px 0;
}

.team-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.team-socials-item {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.team-socials-item:hover,
.team-socials-item:focus {
    background-color: #404BBF;
}

.socials-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #f4f4fd;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
}

.socials-icon {
    fill: currentColor;
}

/* our portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-card {
    background-color: #ffffff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
}

.portfolio-card:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card-container {
    position: relative;
    overflow: hidden;
}

.portfolio-hover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-hover-text {
    transform: translateY(0%);
}

@media screen and (min-width: 768px) {
    .portfolio-card {
        width: 356px;
        width: calc((100% - 24px * 1) / 2);
    }
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
    .portfolio-list {
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-card {
        width: 360px;
        width: calc((100% - 24px * 2) / 3);
    }
}

/* footer */

.footer-container {
    align-items: baseline;
}

@media only screen and (max-width: 767.98px) {
    .footer-socials-container {
        text-align: center;
    }

    .footer-subscribe {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footer-container {
        text-align: center;
    }

    .subscribe-form-button {
        margin: auto;
    }

    .footer-link {
        margin: auto;
    }

}

@media only screen and (min-width: 768px) {
    .footer-top-container {
        display: flex;
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .form-subscribe {
        display: flex;
        align-items: baseline;
        gap: 24px;
        flex-wrap: wrap
    }

    .subscribe-form-field {
        width: 264px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-container {
    display: flex;
  }

    .footer-top-container {
        display: flex;
        gap: 120px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer .container {
    padding: 0 108px;
  }
}

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-footer {
    color: #F4F4FD;
    width: 264px;
    text-align: left;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-container {
    margin-bottom: 72px;
}

.footer-socials-container {
    margin-bottom: 72px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-socials-item {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.footer-socials-item:hover,
.footer-socials-item:focus {
    background-color: #31D0AA;
}

.footer-socials-icon {
    fill: currentColor;
}

.footer-socials-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #f4f4fd;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31D0AA;
}

.footer-socials-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-subscribe {
    align-items: center;
    margin-left: auto;
}

.subscribe-caption {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,5;
    letter-spacing: 0,02em;
    margin-bottom: 16px;
}

.subscribe-form-field {
    margin-bottom: 16px;
    display: block;
}

.subscribe-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: transparent;
    outline: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-form-input::placeholder {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0,04em;
    
}

.subscribe-form-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,5x;
    letter-spacing: 0,02em;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    min-width: 165px;
    justify-content: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.subscribe-form-icon {
    fill: #fff;
    margin-left: 16px;
}

/* Modal window */

.backdrop {
    background-color: rgba(46, 47, 66, 0.40);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: opasity 300ms ease-in, visibility 300ms ease-in;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767.98px) {
  .modal {
    width: 288px;
  }
}

.modal-btn {
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 24px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px; 
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon:hover,
.modal-btn-icon:focus {
    fill: #ffffff;
}

.modal-caption {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.btn-submit {
    padding: 16px 32px;
    background-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    min-width: 169px;
    height: 56px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: auto;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #404BBF;
    
}

.modal-container {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-field {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent; 
}

.form-input:focus {
    border: 1px solid #4D5AE5;
}

.form-icon {
    padding: 0;
    position: absolute;
    fill: #2E2F42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
    fill: #4D5AE5;
}

.textarea-container {
    margin-bottom: 16px;
}

.form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent; 
    padding: 8px 16px;
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

.form-comment:focus {
    border: 1px solid #4D5AE5;
}

.form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04;
}

/* custom checkbox */

.checkbox-container {
    margin-bottom: 24px;
}

.form-agreement {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: flex;
    gap: 8px;
}

.checkbox-link {
    color: #4D5AE5;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-agreement-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    flex-shrink: 0;
}

.form-agreement-icon {
    opacity: 0;
    fill: #fff;
}

.checkbox:checked + .form-agreement > .form-agreement-checkbox {
    background: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.checkbox:checked + .form-agreement > .form-agreement-checkbox > .form-agreement-icon {
    opacity: 1;

}

/* Mobile menu */

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
   .menu-btn {
        display: none;
  }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 300ms ease, visibility 300ms ease;
}

.mobile-menu.is-open {
    transform: translateX(0);
    visibility: visible;
}

.mobile-menu .mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list {
    margin-bottom: auto;
}

.mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #2E2F42;

}

.mobile-menu-link.current {
    color: #404BBF;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-contact {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.06em;
}

.mobile-menu-contact.accent {
    color: #4D5AE5;
}

.mobile-menu-contacts > .mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-socials {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mobile-socials-item {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    flex-shrink: 0;
}

.mobile-socials-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #f4f4fd;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}